<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.chichar.skdeditor">

	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission
		android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
		tools:ignore="ScopedStorage" />
	<uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
	<uses-permission
		android:name="android.permission.QUERY_ALL_PACKAGES"
		tools:ignore="QueryAllPackagesPermission" />

	<application
		android:icon="@mipmap/ic_launcher"
		android:label="SKDEditor"
		android:theme="@style/Theme.SKDEditor">

		<provider
			android:name="androidx.core.content.FileProvider"
			android:authorities="com.chichar.skdeditor.fileprovider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/file_paths" />
		</provider>

		<activity
			android:name=".activities.EditorActivity"
			android:exported="false"
			android:parentActivityName=".activities.MenuActivity"
			android:theme="@style/Theme.SKDEditor" />
		<activity
			android:name=".activities.MenuActivity"
			android:exported="true"
			android:launchMode="singleTask"
			android:theme="@style/Theme.Splash">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:scheme="content" />
				<data android:scheme="file" />
				<data android:mimeType="*/*" />
				<data android:pathPattern=".*\\.skdb" />
				<data android:host="*" />
			</intent-filter>
		</activity>
	</application>

</manifest>